.box1 {

    background-image: $gradient1;
    padding: 2.5rem 0;

    transition: all .5s;

    &__container {

        padding: 3.46rem 9.4rem;
        padding-bottom: .7rem;
        margin: 0 auto;
        position: relative;

        @include respond(mobile) {
            padding: 1rem 7rem;        
        }

        & > * {
            width: 40%;
            text-align: justify;

            @include respond(phone) {
                width: 90%;
                margin: 0 auto;
                display: block;
            }
            @include respond(mobile) {
                width: 100%;
            }
        }

        &--column2 {
            position: absolute;
            top: 10.6rem;
            right: 9.4rem;

            @include respond(phone) {
                position: unset;
                padding-top: 2rem;
            }
        }

        &--img {

            margin-top: 6.9rem;
            display: block;
            width: 100%;
            position: relative;
            text-align: center;
            opacity: 0;
            transition: all 5s;

            img {
                width: 50vw;
                //border: solid 2px #333;
                border-radius: 5px;

                @include respond(phone-land) {
                    width: 60vw;      
                }
                @include respond(phone) {
                    width: 70vw;
                }
                @include respond(mobile) {
                    width: 65vw;        
                }
            }
        }

    }

    &--text {
        font-size: $normal-size;
        @include respond(mobile) {
            font-size: 2.2rem;
        }
    }

    &--subtitle {
        @include subtitle;
        padding: 1rem 2%;

        @include respond(phone) {
            padding-bottom: 1.5rem;
        }

        transform: translateX(-20vw);
        opacity: 0;
        transition: all 1s;
    }

}