.box3 {
    background-image: $gradient1;
    transform: translateY(-55vh);

    &__container {
        padding: 3.4rem 9.4rem;
        padding-bottom: .7rem;

        & > * {
            display: inline-block;
            width: 40%;
            @include respond(phone-land) {
                display: block;
                text-align: center;
                width: 100%;        
            }
        }
    }

    &__info {
        float: left;
        padding-top: 5rem;
        @include respond(phone) {
            padding-top: 1rem;
        }
    }
    &--subtitle {
        @include subtitle;
        padding-bottom: 2rem;
    }
    &--text {
        padding-bottom: 2rem;
    }

    &__maps {
        margin-left: 4rem;

        @include respond(phone-land) {
            margin: 0 auto;   
        }

        iframe {
            width: 45vw;
            height: 45rem;
            padding: 6rem;
            transform: translateX(3.2rem);
            outline: solid 3px $color-pers2;
            outline-offset: -6rem;
            //box-shadow: 0px 1rem 100px $color-dark-gray;

            @include respond(phone-land) {
                transform: translateY(-2rem);
                width: 65vw;
                height: 60vw;
            }
            @include respond(mobile) {
                transform: translate(-2rem, -2rem);    
                width: 75vw;
                height: 70vw;
            }

        }
    }

}