.box2 {

    transform: translateY(-55vh);

    &--bg {
        //background-image: url("../img/img-box2.jpg");
        background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../img/slide3.jpg");
        background-position: top;
        background-size: cover;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &--filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000 , $alpha: .4);
        z-index: -1;

        transition: all .7s;
    }

    &__container {

        padding: 5.5rem 9.4rem;
        padding-bottom: 2rem;
        z-index: 1;

        transition: all 1s;

        @include respond(mobile) {
            padding: 5.5rem 3rem;        
        }

    }

    &--text {
        font-size: $greater-size;
        //color: $color-light-gray;
        color: $color-pal1;
        z-index: 1;
        padding: 2rem;
        background-color: rgba($color: $color-pal4, $alpha: .9);

        @include respond(mobile) {
            font-size: 2.2rem;
        }
    }

    &__products {

        text-align: center;
        padding: 3.4rem 11.7rem;

        @include respond(phone) {
            padding: 3rem 2.5rem;
        }

        .box-prodotto {

            background-color: $color-pal2;
            display: inline-block;
            width: 20rem;
            height: 20rem;
            text-align: center;
            //border: solid 2px $color-pal3;
            margin: 1.5rem;
            //cursor: pointer;
            transform: rotate(-460deg) scale(1.2);

            @include respond(phone) {
                width: 16rem;
                height: 16rem;
            }

            &__img {
                padding: 2rem;
                height: 12rem;

                @include respond(phone) {
                    padding: 1.2rem;
                    height: 9.5rem;
                }
            }

            &__descrizione {
                text-transform: uppercase;
                font-size: $normal-size;
                padding-bottom: 1rem;
                color: $color-pal3;
                font-weight: bolder;
            }

            transition: all .2s;

            &:hover {

                transform: scale(1.15) !important;

            }

        }

    }

    &__btn {
        text-align: center;
        padding-top: 1.3rem;
        padding-bottom: 5rem;

        & > * {
            background-color: $color-pal3 !important;
        }
    }

    &--subtitle {
        @include subtitle;
        color: $color-light-gray;
        text-align: center;
        padding-top: 1rem;    
        text-shadow: 1px 2px 4px black;

        @include respond(mobile) {
            width: 80%;
            margin: 0 auto;
        }
    }

}