.box1 {

    background-image: $gradient1;
    padding: 2.5rem 0;

    transition: all .5s;

    &__container {

        padding: 3.46rem 9.4rem;
        padding-bottom: .7rem;
        margin: 0 auto;
        position: relative;

        @include respond(mobile) {
            padding: 1rem 7rem;        
        }

        & > * {
            width: 40%;
            text-align: justify;

            @include respond(phone) {
                width: 90%;
                margin: 0 auto;
                display: block;
            }
            @include respond(mobile) {
                width: 100%;
            }
        }

        &--column2 {
            position: absolute;
            top: 10.6rem;
            right: 9.4rem;

            @include respond(phone) {
                position: unset;
                padding-top: 2rem;
            }
        }

        &--img {

            margin-top: 6.9rem;
            display: block;
            width: 100%;
            height: 24rem;
            position: relative;
            text-align: center;
            opacity: 0;
            transition: all 5s;

            @include respond(phone-land) {
                height: 12rem;
                margin-top: 5.5rem;
                padding-bottom: 5rem;
            }

            img {
                //border: solid 2px #333;
                border-radius: 5px;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                left: 50%;
                border: solid 2px $color-pal4;
                box-shadow: 0px 6px 10px rgba(0, 0, 0, .6);

                @include respond(phone-land) {
                    width: auto !important;
                    height: 13.5rem;    
                }
                @include respond(phone) {
                    width: auto !important;
                    height: 13.5rem;
                }
                @include respond(mobile) {
                    width: auto !important;   
                    height: 13.5rem;     
                }

                transition: all .3s;
                &:hover {
                    z-index: 3 !important;
                    transform: translate(-50%, -50%) scale(1.1);
                }
            }
            #img1 {
                width: 36vw;
                z-index: 2;
            }
            #img2 {
                width: 30vw;
                top: 32%;
                left: 35%;
                z-index: 1;
                @include respond(phone-land) {
                    display: none;     
                }
            }
            #img3 {
                width: 27vw;
                top: 20%;
                left: 75%;
                @include respond(phone-land) {
                    display: none;
                }
            }

        }

    }

    &--text {
        font-size: $normal-size;
        @include respond(mobile) {
            font-size: 2.2rem;
        }
    }

    &--subtitle {
        @include subtitle;
        padding: 1rem 2%;

        @include respond(phone) {
            padding-bottom: 1.5rem;
        }

        transform: translateX(-20vw);
        opacity: 0;
        transition: all 1s;
    }

}