.footer {

    display: none;

    height: 9.7rem;
    width: 100%;
    background-color: $color-pal4;
    //background-color: rgba(0, 0, 0, .9);
    transform: translateY(-55vh); 
    text-align: right;
    position: relative;
    
    @include respond(tab-port) {
        height: 18.5rem;
    }

    & > * {
        color: $color-light-gray;
        font-size: $small-size;
    }

    &__madeby {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-5%, -50%);

        @include respond(tab-port) {
            position: unset;
            top: 0; 
            left: 0;
            display: block;
            padding: 3.8rem 0 3.8rem 1.5rem;
            transform: unset;
            text-align: left;
        }
    }

    &__privacy {
        text-transform: uppercase;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(10%, -50%);
        transition: all .3s;

        &:hover {
            font-size: calc(#{$small-size * 1.2});
        }

        @include respond(tab-port) {
            position: unset;
            float: right;
            transform: none;
            padding: 3.8rem 1.5rem 3.8rem 0;
        }
    }

    &__certificates {
        max-height: 9rem;
        @include absoluteCentering;

        img {
            display: inline-block;
            height: 7rem;
        }

        @include respond(tab-port) {
            display: block;
            position: unset;
            transform: none;
            margin: 0 auto;
            text-align: center;
        }
    }
 
}