.header {

    height: 100vh;

    background-image: url("../img/img1-min.jpg");
    background-position: center;
    background-size: cover;

    transition: all 1s;

    .headbar {

        position: fixed;
        z-index: 10;
        height: 5.6rem;
        width: 100vw;
        background-color: transparent;

        transition: all .6s;
        
        &--active {
            border-bottom: solid 2px $color-light-gray !important; 
            background-color: rgba(0, 0, 0, .85) !important;
        }
        &:hover {
            border-bottom: solid 2px $color-light-gray; 
            background-color: rgba(0, 0, 0, .85);
        }

        @include respond(tab-port) {
            &:hover {
                border-bottom: none;
                background-color: transparent;
            }
        }

        &__item {

            text-align: center;
            height: 100%;
            position: relative;
            width: 12%;
            float: right;
            
            p {
                
                width: 100%;
                color: $color-light-gray;
                text-transform: uppercase;
                font-size: 2.8rem;

                @include absoluteCentering;
            }

            &:first-child {
                margin-right: 3%;
            }


            //hover
            transition: all .5s;

            &::after {
                content: "";
                display: block;
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 100%;
                background-color: $color-light-gray;
                z-index: -1;
                opacity: 0;
                transition: all .3s;
            }

            &:hover::after {
                opacity: 1;
                transform: translateX(-100%);
            }

            &:hover {
                p {
                    cursor: pointer;
                    color: #000;
                }
            }

            //clicked
            &:active {
                transform: scale(.85);
                letter-spacing: 2px;
            }

            @include respond(tab-port) {
                display: none;
            }

        }

    }

    &__logo {

        @include absoluteCentering;

        height: 9.2rem;

        @include respond(mobile) {
            height: 8rem;        
        }

        transition: all .8s;

        &--scroll {
            top: .4rem;
            left: 2rem;
            width: auto;
            height: 5rem;
            transform: none;

            position: fixed;
            z-index: 10;
            cursor: pointer;
        }

    }

}