@mixin respond($breakpoint) {
    @if $breakpoint == small-phone {
        @media only screen and (max-width: 18.8em) { @content };    //300px
    }
    @if $breakpoint == mobile {
        @media only screen and (max-width: 28.13em) { @content };    //450px
    }
    @if $breakpoint == phone {
        @media only screen and (max-width: 39.4em) { @content };    //630px
    }
    @if $breakpoint == phone-land {
        @media only screen and (max-width: 48.2em) { @content };    //770px
    }
    @if $breakpoint == tab-port2 {
        @media only screen and (max-width: 50em) { @content };    //800px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 61.25em) { @content };     //980px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 68.8em) { @content };    //1100px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 106.2em) { @content };    //1700px
    }
}

@mixin absoluteCentering {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin subtitle {
    font-size: $large-size;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #444;
}