//COLORS
$color-light-gray: #f2f2f2;
$color-dark-gray: #333;
$color-pers1: #C0D9ED;
$color-pers2: #0f4c75;
$gradient1: linear-gradient(to right bottom, #8e9eab , #eef2f3 15%, #eef2f3 85%, #8e9eab );


//FONT
$font-lato: 'Lato', sans-serif;
$small-size: 1.4rem;
$normal-size: 2rem;
$greater-size: 2.4rem;
$large-size: 4.4rem;
