*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @include respond(big-desktop) {
        font-size: 83%;
    }
    @include respond(tab-port2) {
        font-size: 55%;
    }
    @include respond(mobile) {
        font-size: 50%;
    }
    @include respond(small-phone) {
        font-size: 42%;
    }
    
}

body {
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
    background-color: $color-pal4;
}
/*
p {
    font-size: $normal-size;
} */

a {
    text-decoration: none;
}